PORT=3000

LOG_DIRNAME=log
LOG_FILENAME=cs-data-provider.log

DRIVER_NAME=postgres
DATA_SOURCE=postgres://mmuser:mostest@db/mattermost_test?sslmode=disable&connect_timeout=10&binary_parameters=yes

NEWS_ENDPOINT=
POLICY_EXPORT_ENDPOINT=
INCIDENTS_ENDPOINT=
INCIDENTS_DETAILS_ENDPOINT=
DISCUSSIONS_EXPORT_ENDPOINT=

AUTH_ENDPOINT=
AUTH_USERNAME=
AUTH_PASSWORD=

ECOSYSTEM_ID=